<div class="container education-container">
  <h3>{{ site.education_title | default: "Education" }}</h3>
  {% for education in site.data.education %}
  <div class="row clearfix layout layout-{{education.layout | default: 'left'}}">
  	{%- if education.image -%}
  		<div class="col-xs-12 col-sm-4 col-md-1 col-print-1 details">
    		<span class="img" style="background-image: url({{ education.image | relative_url }})"></span>
    	</div>
    {%- endif -%}
    <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
      	<h4>{{ education.title }}</h4>

      	{%- if education.sub_title -%}<p><b>{{ education.sub_title }}</b></p>{%- endif -%}
      	{%- if education.caption -%}<p> {%- if education.location -%}{{ education.location }} |&nbsp;{%- endif -%}  {{ education.caption }}</p>{%- endif -%}


      	{%- if education.link -%}
        	{% include a.html href=education.link class="link" %}
        	{%- if education.link_text -%}{{ education.link_text }}{%- else -%}{{ education.link }}{%- endif -%}
        	</a>
      	{%- endif -%}

     	<p class="no-print aditional-links">
        	{% for link in education.additional_links %}
        		{% include a.html href=link.url class="" %}
        		<i class="{{ link.icon }}" title="{{ link.title | escape }}"></i>
          		</a>
        	{% endfor %}
      	</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 content">
    	{%- if education.iframe -%}
      		<div class="col-xs-12 col-sm-8 col-md-7 col-print-12 content">
        		{%- if education.quote -%}
          			<p class="quote">{{ education.quote }}</p>
        		{%- endif -%}

        		{{ education.description | strip | markdownify }}
      		</div>
      		<div class="col-xs-12 col-sm-4 col-md-5 no-print">
        		<iframe src="{{ education.iframe | relative_url}}" attribute:scrolling="no"></iframe>
      		</div>
    	{%- else -%}
        	{%- if education.quote -%}
          		<p class="quote">{{ education.quote }}</p>
        	{%- endif -%}

        	{{ education.description | strip | markdownify }}
    	{%- endif -%}
	</div>
  </div>
  {% endfor %}
</div>