<div class="col-xs-12 col-sm-4 col-md-3 col-print-12 skill skill-layout-{{skill.layout | default: 'left'}}">
  	{%- if skill.org-image -%}
  		<!-- <div class="col-xs-12 col-sm-4 col-md-1 col-print-1 details"> -->
    <span class="img" style="background-image: url({{ skill.org-image | relative_url }})"></span>
    	<!-- </div> -->
    {%- endif -%}

    <p>{{ skill.skill }}</p>

    {%- if skill.certificate -%}
      {%- if skill.click -%}
        <div class="col-xs-12 col-sm-4 col-md-5 no-print">
          <iframe src="{{ item.iframe | relative_url}}" attribute:scrolling="no"></iframe>
        </div>
      {%- endif -%}
    {%- endif -%}

    {{ skill.description | strip | markdownify }}

</div>