<div class="row clearfix layout layout-{{item.layout | default: 'left'}}">
    <div class="col-xs-12 col-sm-4 col-md-3 col-print-12 details">
      <h4>{{ item.title }}</h4>
      <ul>
      	{% for skill in item.skills %}
      		<li>{% include data_templates/skill.html %}</li>
      	{% endfor %}
      </ul>

      {%- if item.sub_title -%}<p><b>{{ item.sub_title }}</b></p>{%- endif -%}
      {%- if item.caption -%}<p>{{ item.caption }}</p>{%- endif -%}


      {%- if item.link -%}
        {% include a.html href=item.link class="link" %}
          {%- if item.link_text -%}{{ item.link_text }}{%- else -%}{{ item.link }}{%- endif -%}
        </a>
      {%- endif -%}
    </div>

    <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 content">
      {%- if item.quote -%}
        <p class="quote">{{ item.quote }}</p>
      {%- endif -%}

      {{ item.description | strip | markdownify }}
      
    </div>
</div>