<div class="row clearfix layout layout-{{skill.layout | default: 'left'}}">
  <div class="col-xs-12 col-sm-4 col-md-1 col-print-1 details">
    {%- if skill.org-image -%}
      <img id="bullet-image" src="{{ skill.org-image | relative_url}}" >
    {%- endif -%}
  </div>
  <div class="col-xs-12 col-sm-4 col-md-2 col-print-12 details">
    <h2>{{ skill.skill }}</h2>
  </div>
  {%- if skill.certificate -%}
    <div class="col-xs-12 col-sm-8 col-md-9 col-print-12 item">
      <img id="cert" src="{{ skill.certificate | relative_url}}" ></img>
    </div>
  {%- endif -%}
  {%- if skill.description -%}
    <div class="col-xs-12 col-sm-8 col-md-3 col-print-12 details">
      {{ skill.description | strip | markdownify }}
    </div>
  {%- endif -%}

</div>