<div class="col-xs-12 col-sm-4 col-md-3 col-print-12 skill skill-layout-{{skill.layout | default: 'top-middle'}}">
    <h2>{{ skill.skill }}</h2>

    {%- if skill.certificate -%}
      {%- if skill.org-image -%}
        <div class="col-xs-12 col-sm-4 col-md-1 col-print-1 details">
        <span class="img" style="background-image: url({{ skill.org-image | relative_url }})"></span>
        </div>
      {%- endif -%}
      {%- if skill.click -%}
        <div class="col-xs-12 col-sm-4 col-md-5 no-print">
          <iframe src="{{ skill.certificate | relative_url}}" attribute:scrolling="no"></iframe>
        </div>
      {%- else -%}
        <div class="col-xs-12 col-sm-4 col-md-5 no-print">
          <iframe src="{{ skill.certificate | relative_url}}" attribute:scrolling="no"></iframe>
        </div>
      {%- endif -%}
    {%- endif -%}

    {{ skill.description | strip | markdownify }}

</div>