<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body class="{% if site.darkmode == true and site.darkmode != 'never' %}dark{% endif %}">
  <div class="linklist-container">
    
    <div class="linklist-title">
      {{ site.data.links.title | default: site.title }}
    </div>

    <div class="linklist-subtitle">
      {{ site.data.links.description }}
    </div>

    {% for link in site.data.links.links %}
      <a class="link-item" href="{{ link.url }}" target="_blank" rel="noopener">
        
        {% if link.icon %}
          <span class="link-icon">
            <i class="{{ link.icon }}"></i>
          </span>
        {% endif %}
        
        {{ link.name }}
      </a>
    {% endfor %}

  </div>
</body>
</html>